<?php

/**
 * @file
 * Contains Drupal\{{ module_name }}\{{ entity_class }}AccessControlHandler.
 */

namespace Drupal\{{ module_name }};

use Drupal\Core\Entity\EntityAccessControlHandler;
use Drupal\Core\Entity\EntityInterface;
use Drupal\Core\Session\AccountInterface;
use Drupal\Core\Access\AccessResult;

/**
 * Access controller for the ExempleEntity entity.
 *
 * @see \Drupal\{{ module_name }}\Entity\ExempleEntity.
 */
class {{ entity_class }}AccessControlHandler extends EntityAccessControlHandler
{

  /**
   * {@inheritdoc}
   */
  protected function checkAccess(EntityInterface $entity, $operation, AccountInterface $account) {

    switch ($operation) {
      case 'view':
        return AccessResult::allowedIfHasPermission($account, 'view {{ entity_class }} entity');
        break;

      case 'edit':
        return AccessResult::allowedIfHasPermission($account, 'edit {{ entity_class }} entity');
        break;

      case 'delete':
        return AccessResult::allowedIfHasPermission($account, 'delete {{ entity_class }} entity');
        break;

    }

    return AccessResult::allowed();
  }

  /**
   * {@inheritdoc}
   */
  protected function checkCreateAccess(AccountInterface $account, array $context, $entity_bundle = NULL) {
    return AccessResult::allowedIfHasPermission($account, 'add Bar entity');
  }
}
