<?php

/**
 * @file
 * Contains \Drupal\{{ module_name }}\Plugin\Field\FieldFormatter\{{ formatter_class }}.
 */

namespace Drupal\{{ module_name }}\Plugin\Field\FieldFormatter;
{% if checkbox_name == 1 %}
//Add necessary classes
{% endif %}
use Drupal\Core\Field\FormatterBase;
use Drupal\Core\Field\FieldItemListInterface;

/**
 * Plugin implementation of the '{{ formatter_class }}' formatter.
 *
 * @FieldFormatter(
 *   id = "{{ formatter_id }}",
 *   label = @Translation("{{ formatter_label }}"),
 *   field_types = {
{% for field_type in field_types %}
{% if field_type != '' %}
 *     "{{ field_type|trim }}",
{% endif %}
{% endfor %}
 *   }
 * )
 */
class {{ formatter_class }} extends FormatterBase {

  /**
   * {@inheritdoc}
   */
  public function viewElements(FieldItemListInterface $items,$langcode) {
    $elements = array();

    foreach ($items as $delta => $item) {
      $elements[$delta] = array('#markup' => $this->t("Hello Drupal 8"));
    }
    return $elements;
  }
}