{% if help == 1 %}
# Module name shown on the extend page.
{% endif %}
name: {{ module_ }}
{% if help == 1 %}
# Core version (always 8.x).
{% endif %}
core: 8.x
{% if description != '' %}
{% if help == 1 %}
# Module description on the extend page
{% endif %}
description: {{ description }}
{% endif %}
{% if package != '' %}
{% if help == 1 %}
# Module package to group modules on the extend page.
{% endif %}
package: {{ package }}
{% endif %}
type: module
{% if version != '' %}
{% if help == 1 %}
# Module version
{% endif %}
version: 8.x-{{ version }}
{% endif %}
{% if config != '' %}
{% if help == 1 %}
# Link to the configuration page shown on the extend page
{% endif %}
configure: {{ config }}
{% endif %}
{% if dependencies|length>0  %}
{% if help == 1 %}
# Dependencies (machine name requiered, one per line with "-" and right indentation.
{% endif %}
dependencies:
{% for dependencie in dependencies %}
{% if dependencie != '' %}
  - {{ dependencie }}
{% endif %}
{% endfor %}
{% endif %}