<?php

/**
 * @file
 * Contains {{ module_name }}.module.
 */
{% if help %}
//With this implementation we are creating one pseudo-field
//called My own field that will show up on the display settings of all
//the node bundles.
//After clearing the cache, you can already see it if you go
//to the display settings of any node bundle you have.
{% endif %}
/**
 *  Implements hook_entity_extra_field_info().
 */
function {{ module_name }}_entity_extra_field_info() {
  $extra = array();
  foreach (\Drupal\node\Entity\NodeType::loadMultiple() as $bundle) {
    $extra['node'][$bundle->id()]['display']['my_own_pseudo_field'] = array(
      'label' => t('My own field'),
      'description' => t('This is my own pseudo field'),
      'weight' => 100,
      'visible' => TRUE,
    );
  }
  return $extra;
}
{% if help %}
//This hook has the role to make this field actually render something when the node is being viewed.
{% endif %}
/**
 *  Implements hook_ENTITY_TYPE_view().
 */
function {{ module_name }}_node_view(array &$build, \Drupal\Core\Entity\EntityInterface $entity, \Drupal\Core\Entity\Display\EntityViewDisplayInterface $display, $view_mode) {

  if ($display->getComponent('my_own_pseudo_field')) {
    $build['my_own_pseudo_field'] = [
      '#type' => 'markup',
      '#markup' => t('This is my custom content'),
    ];
  }
}